{% load static %}
{% load math_tags %}

<!DOCTYPE html>
<html lang="mk">
<head>
  <link href="{% static 'assets/bonefix/css/MgMo5MB11g1r.css' %}" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Операцијата нема да ви го реши проблемот! Еве како засекогаш да се ослободите од силните болки во колената и
    зглобовите за само 10 дена – според моето искуство</title>
  <link rel="stylesheet" href="{% static 'assets/bonefix/css/trTtynj9iiJG.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bonefix/css/4XbZ0bLxQLao.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bonefix/css/4009YZsZnErQ.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bonefix/css/XgB73Twqv2VV.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bonefix/css/iBDQbiZ0rMA9.css' %}">
  <link rel="icon" href="images/DKSFbwlhM3cJ.gif' %}">
  <script type="text/javascript" src="{% static 'assets/bonefix/js/FYub8yS2laTE.js' %}"></script>
  <!-- Mgid Sensor -->
  <!-- Mgid Sensor -->
  <script type="text/javascript">
    (function() {
      var d = document, w = window
      w.MgSensorData = w.MgSensorData || []
      w.MgSensorData.push({
        cid: 934162,
        project: 'a.mgid.com'
      })
      var l = 'a.mgid.com'
      var n = d.getElementsByTagName('script')[0]
      var s = d.createElement('script')
      s.type = 'text/javascript'
      s.async = true
      var dt = !Date.now ? new Date().valueOf() : Date.now()
      s.src = 'https://' + l + '/mgsensor.js?d=' + dt
      n.parentNode.insertBefore(s, n)
    })()
  </script>
  <!-- /Mgid Sensor -->
</head>
<body>
<script>var locale = 'mk'

function dtimes(e) {
  var t = new Date
  t.setDate(t.getDate() + e + 1 - 1), document.write(t.getDate() + ' ' + months[t.getMonth()])
}

function dtime(e) {
  var t = new Date
  t.setDate(t.getDate() + e), document.write(days[t.getDay()] + ' ' + t.getDate() + ',  ' + months[t.getMonth()] + ' ' + t.getFullYear())
}

function dtime_nums(e, t, a) {
  var n = new Date
  n.setDate(n.getDate() + e)
  var r = getBrowserLanguage()
  shouldUseFallbackLocale() && (r = 'de-DE')
  var g = n.toLocaleDateString(r)
  if (a) return g
  document.write(g)
}

function shouldUseFallbackLocale() {
  var e = getBrowserLanguage()
  return 0 === e.indexOf('ar') || 0 === e.indexOf('fa') || 0 === e.indexOf('bg') || 0 === e.indexOf('en-US')
}

function getBrowserLanguage() {
  return navigator.language || navigator.userLanguage
}
</script>
<script src="{% static 'assets/bonefix/js/6dvRQMaUZTHk.js' %}"></script>
<div class="wrapper">
  <header class="header">
    <div class="header-head">
      <div class="header-head--desk">
        <div class="header-head-logo">
          <img src="{% static 'assets/bonefix/images/DKSFbwlhM3cJ.gif' %}" alt="">
        </div>
        <div class="header-head-text">Блог на Викторија Јаневска</div>
      </div>
    </div>
  </header>
  <div class="content">
    <div class="container container--large">
      <h1>
        Операцијата нема да ви го реши проблемот! Еве како засекогаш да се ослободите од силните болки во колената и
        зглобовите за само 10 дена – според моето лично искуство.
      </h1>
      <div class="post-date">
        Објавено
        <script type="text/javascript">dtime_nums(-8, true)</script>
        во 15:19 | Автор: Викторија Јаневска
      </div>
    </div>
    <div class="container">
      <div class="image image--horizontal image--first">
        <img src="{% static 'assets/bonefix/images/on0SEqpZvxvn.jpg' %}" alt="">
      </div>
      <p>Здраво на сите!</p>
      <p>
        Јас сум <b>Викторија Јаневска</b>, и денес сакам да го споделам моето искуство со болките во колената и
        зглобовите, кои за малку ќе ме оневозможеа да ја извршувам мојата секојдневна работа. Ќе ви раскажам и како
        <strong style="color:red;">успеав потполно да се ослободам од нив, без никаква операција!</strong>
      </p>
      <p>
        По 50-тата година, почнав да чувствувам силни болки во зглобовите, грбот, а особено во колената. Работам како
        шпедитер во Северна Македонија – професија поврзана со честа физичка активност, кревање тежок товар и притисок
        врз 'рбетот. На почетокот не обрнував многу внимание на болките; користев разни масти и кремови за колена и за
        долниот дел на грбот, со цел барем малку да ги ублажам симптомите. Искрено, мислев само да издржам, бидејќи
        морав да продолжам со работа.
      </p>
      <p>
        Кога утринските болки станаа неподносливи, почнав да користам посилни лекови, а кон крајот на неделата и мојот
        сопруг <b>Михаил</b> понекогаш ми ставаше инјекции против болка за воопшто да можам да станам од кревет. Болките
        стануваа се' почести и посилни. Еден ден на работа, требаше да му помогнам на колега да кренеме еден релативно
        лесен мебел. Се наведнав, и почувствував жестока болка во коленото. Паднав на земја и не можев да мрдам. Мораа
        да викнат брза помош, која веднаш ме однесе во болница.
      </p>
      <div class="image image--vertical">
        <img src="{% static 'assets/bonefix/images/Twbw2Cid4TzA.jpg' %}" alt="">
        <div class="image-description">
          Моето колено во таква состојба: силна, неподнослива болка.
        </div>
      </div>
      <p>
        На прегледот, докторката некое време ги гледаше снимките и ми рече да престанам со каква било тешка физичка
        работа.
        <strong style="color:red;">Ме предупреди и да не кревав ништо потешко од 2 кг.</strong>
      </p>
      <div class="image image--vertical">
        <img src="{% static 'assets/bonefix/images/pGyTPxTASZe2.jpg' %}" alt="">
        <div class="image-description">
          Рендгенските снимки покажаа голем проблем со моето колено.
        </div>
      </div>
      <p>
        Секако, ова за мене беше неприфатливо! Како да продолжам да работам? Ја сакам својата професија, иако е напорна.
        Затоа побарав второ мислење. Но, тоа беше уште пострашно! Без прецизна дијагноза, вториот доктор ми рече дека
        <strong style="color:red;">без операција на коленото ќе станам неспособна за работа.</strong> Исто така ми кажа
        дека интервенцијата ќе ме чини околу <b>2.100.000 денари (околу 35.000 евра)</b>.
      </p>
      <p>
        Бев ужасната. Ниту имав толку заштеда, ниту знаев дали вреди да преземам толку ризичен чекор. Сепак, закажав
        операција за шест месеци, надевајќи се дека ќе успеам да ги соберам потребните пари.
      </p>
      <p>
        Во Северна Македонија, посебно за време на сезонските промени и високата влажност, болките во зглобовите можат
        уште повеќе да се влошат. Дополнително,
        <strong style="color:red;">многумина наши луѓе се плашат од долго чекање за операции во државните болници, како
          и од бирократските процедури.</strong>
        Секојдневно ме мореше мислата дека може да останам неспособна или пензијата да не ја дочекам како што треба – и
        сето тоа само поради колената!
      </p>
      <p>
        Тогаш се сетив на мојот стар пријател <b>Гоце</b>, кој пред околу шест месеци се жалеше на колената. Одлучив да
        го побарам и да видам како е. На телефон беше краток, па се договоривме да се видиме кај него дома.
      </p>
      <p>
        Следниот ден, ме дочека неговата сопруга <b>Елица</b>, плачејќи:
      </p>
      <p>
        <b>— Елица, што се случува?</b><br>
        — Гоце... почина! — низ солзи ми раскажа.<br>
        <b>— Како е можно? Имаше само 51 година! Што му се случи?</b><br>
        — По операцијата повторно се врати болеста, пак доби силни болки во коленото...
      </p>
      <p>
        Останав шокирана, како да ме удри гром! Ја прашав каква терапија примал, што му препишале лекарите, но
        <strong style="color:red;">ништо не помагало. Иако направил операција, по еден месец пак дошло до влошување и
          компликации.</strong>
      </p>
      <p>
        По овој настан, едноставно не можев да помислам повторно на болница или операција. Кој знае што би ми направиле,
        можеби само би го влошиле сето тоа. А и не смеев да ја одложувам терапијата: колку подолго се чека, толку повеќе
        се уништуваат зглобовите.
      </p>
      <h3>Почнав да паничам.</h3>
      <p>
        Речиси не излегував од дома и пиев само апчиња против болки, додека стравот постојано ме обзема. Не можев да
        работам – како да мислам на работа додека трпам силни болки? Почнав сама да барам разни домашни лекови,
        алтернативни методи – подготвена бев на се', само да избегнам операција и поголеми последици!
      </p>
      <p class="alert-trigger">
        Пребарував низ целиот интернет и налетав на форум каде што еден човек споделил дека целосно ги победил
        проблемите со зглобовите. Тој не се лечел со операција или инјекции, туку со еден единствен препарат –
        специјални капсули. Тврдел дека е многу ефикасен и се вика
        <b>BoneFix Капсули</b>.
      </p>
      <p>
        Одлучив да го пробам, бидејќи цената беше разумна, а сите состојки – природни.
        <strong style="color:red;">Веќе имав потрошено многу средства на други неуспешни терапии.</strong>
      </p>
      <p>
        Стапив во контакт со човекот од форумот и го прашав каде може да се набават овие капсули. Објасни дека се
        произведува во мали серии поради комплексната формула и дека
        <strong style="color:red;">се продава само на официјалната страница на производителот</strong>, каде често се
        распродава заради големата побарувачка.
      </p>
      <p>
        За среќа, имав среќа – успеав да направам нарачка токму за време на промоција.
      </p>
      <p>
        Искрено, не очекував чудо. Се надевав само малку да ја одложам операцијата, бидејќи многу се плашев. Но, уште
        при
        <strong style="color:red;">првата употреба на <b>BoneFix Капсули</b>, ми се намали острата болка</strong> и
        можев да станам од кревет наутро без апчиња. Тогаш почнав да верувам дека конечно ова е вистинското решение.
      </p>
      <p>
        Го прочитав упатството внимателно и почнав да го користам <b>BoneFix Капсули</b> според препораките – само
        наутро и навечер се нанесува на болното место. Капсулите се многу лесни за употреба, без несакани ефекти,
        бидејќи има исклучиво природни состојки.
      </p>

      <h3>Какви резултати постигнав?</h3>
      <div class="image image--horizontal">
        <img src="{% static 'assets/bonefix/images/OhHjziO8uj4e.jpg' %}" alt="">
        <div class="image-description alert-trigger">
          Веќе следното утро по нанесувањето, ми се повлече отокот!
        </div>
      </div>
      <p>
        Острата болка престана веднаш.
      </p>
      <p> После првата употреба почувствував подобрување.
      </p>
      <p>
        По три дена, можев да пешачам подолго време без мака.
      </p>
      <div class="image image--horizontal">
        <img src="{% static 'assets/bonefix/images/p8ngxzzxuz0g.jpg' %}" alt="">
        <div class="image-description">
          Не ми е потребна инвалидска количка за придвижување.
        </div>
      </div>
      <p>
        По десет дена, болките во рацете, грбот и колената целосно исчезнаа.
      </p>
      <div class="image image--horizontal">
        <img src="{% static 'assets/bonefix/images/TnpKSJaqV4Uz.jpg' %}" alt="">
        <div class="image-description">
          Сега повторно можам да вежбам.
        </div>
      </div>
      <p>
        Во третата недела од терапијата, веќе заборавив дека сум имала проблеми со колената.
      </p>
      <div class="image image--horizontal">
        <img src="{% static 'assets/bonefix/images/cTViqYdFwxQi.jpg' %}" alt="">
        <div class="image-description">
          Водам нормален, активен живот, без болки во зглобовите.
        </div>
      </div>
      <p>
        Иако резултатите беа извонредни, продолжив со целосниот месечен третман, за да спречам повторување на болката.
      </p>
      <p>
        Потоа отидов на лекарска контрола и докторот беше запрепастен! Повеќе не ми беше потребна операција – зглобовите
        ми беа сосема здрави! Не можам да опишам колкава радост почувствував. Ги знаат тие што поминале низ сличен
        пекол!
      </p>
      <div class="image image--vertical">
        <img src="{% static 'assets/bonefix/images/N2ofHhLYVv4w.jpg' %}" alt="">
        <div class="image-description">
          Сега повторно уживам во животот со моето семејство!
        </div>
      </div>
      <p>
        Успеав да избегнам операција, повторно враќање на болката и ризик од трајна неспособност. Силните болки
        исчезнаа! Веќе три години сум без никакви проблеми и се чувствувам фантастично. Повторно се вратив и на работа.
      </p>
      <div class="image image--vertical">
        <img src="{% static 'assets/bonefix/images/zsCCuMApgaQE.jpg' %}" alt="" style="margin-inline: auto">
        <div class="image-description">
          Вака изгледа моето здраво колено сега.
        </div>
      </div>
      <p style="color:red; font-weight:bold;">
        Само да знаев порано за овој производ!
      </p>
      <p>
        <b>Благодарение на BoneFix Капсули сум ЗДРАВА, и живеам исполнет живот. Моите проблеми со зглобовите и колената
          засекогаш исчезнаа!</b>
      </p>
      <div class="image image--vertical">
        <img src="{% static 'assets/bonefix/images/nLR6ci4FKoqD.png' %}" alt="">
        <div class="image-description">
          Вака изгледа пакувањето на BoneFix Капсули.
        </div>
      </div>
      <p>
        <strong style="color:red;">Не чекајте да стане уште полошо!</strong> Ако имате слични проблеми, сфатете дека ова
        е сериозно. Јас сум жив доказ дека може брзо да се опоравите! Ви посакувам и вам ист успех!
      </p>
      <p>
        Не сум единствената кои BoneFix Капсули ја спасил. Мојот сопруг Михаил со години имаше силни болки во рацете,
        прстите му беа скоро деформирани. Подоцна му беше дијагностициран артритис. Одлучив и нему да му набавам
        <b>BoneFix Капсули</b>. Се третираше заедно со мене – и, за чудо, му помогна и нему!
      </p>
      <div class="image image--horizontal">
        <img src="{% static 'assets/bonefix/images/c2icUhdAhEMk.jpg' %}" alt="">
        <div class="image-description">
          Рендгенските снимки на рацете на мојот сопруг пред и по третманот со BoneFix Капсули.
        </div>
      </div>
      <div class="image image--horizontal">
        <img src="{% static 'assets/bonefix/images/WpD4QLu2qrmX.jpg' %}" alt="">
        <div class="image-description">
          Рацете на Михаил пред и по употребата на BoneFix Капсули.
        </div>
      </div>
    </div>
    <div class="information">
      <div class="container">
        <p><b>
          По разговорот со мене, нашите новинари побараа коментар од специјалист кој учествувал во развојот на BoneFix
          Капсули. Еве што ни изјави:
        </b></p>
      </div>
    </div>
    <div class="container">
      <div class="image image--horizontal">
        <img src="{% static 'assets/bonefix/images/11LJUCcFZaEh.jpg' %}" alt="">
        <div class="image-description">
          д-р Михаил Петровски – специјалист по ревматологија со повеќе од 30 години искуство.
        </div>
      </div>
      <p>
        <b>BoneFix Капсули</b> претставува вистински напредок во медицината. Неговата ефикасност е клинички тестирана и
        потврдена преку многу студии, патенти и долгогодишни испитувања. Иновативната формула на
        <b>BoneFix Капсули</b> помага да се врати нормалното ниво на синовијална (зглобна) течност, ги поддржува
        зглобовите во нивната природна функција и ги намалува болката и непријатноста при движење.
      </p>
      <div class="image image--horizontal">
        <img src="{% static 'assets/bonefix/images/GVmrkR7sMssX.jpg' %}" alt="">
        <div class="image-description">
          Тимот научници кој учествуваше во развојот на BoneFix Капсули.
        </div>
      </div>
      <p>
        Капсулите содржат природни состојки кои си ја засилуваат меѓусебната ефикасност и директно влијаат на
        подобрување на функцијата на зглобовите. Комбинацијата од овие компоненти, со висок процент на колагенски
        пептиди и L-глутатион, дава оптимални резултати. По успешните клинички испитувања, одлучивме масовно да го
        произведуваме и дистрибуираме <b>BoneFix Капсули</b> во Северна Македонија.
      </p>
      <p>
        Сепак, брзо наидовме на отпор. Големите фармацевтски компании не сакаа
        <b>BoneFix Капсули</b> да биде достапен за секого. Очигледно е дека профитот им е поважен од здравјето на
        луѓето. Бевме принудени сами да се бориме со системот. Причината е едноставна:
        <b>BoneFix Капсули</b> има широк и силен ефект врз организмот, го зајакнува имунитетот и им помага на луѓето да
        се опорават без да зависат од безброј лекови – што секако им пречи на интересите на големите играчи во
        индустријата. Затоа,
        <b>BoneFix Капсули</b> не се продава во продавници или аптеки. Одлучивме да го дистрибуираме <b>BoneFix
        Капсули</b> директно до граѓаните на Северна Македонија, со онлајн-нарачка на официјалната веб-страница на
        производителот.
      </p>
      <p>Ви посакувам добро здравје и среќа! До следен пат!</p>
      <p>
        Експертите, дополнително, открија дека колагенот во овие капсули
        <strong style="color:red;">може да ја подмлади кожата, да ги намали пигментните дамки и да ја зголеми нејзината
          еластичност.</strong>
      </p>
    </div>
    <div class="note attention">
      <div class="container">
        <div class="note-wrap">
          <div class="note-icon"></div>
          <div class="note-text">
            <p>
              <b>
                Секој читател на нашата страница може да го добие BoneFix Капсули со попуст до 50%. Само кликнете на
                една од знамињата, пополнете го формуларот за нарачка и добијте го производот.
              </b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h3>Ексклузивно за нашите читатели организираме официјално извлекување на производот</h3>
      <h3>
        Ваži до
        <script type="text/javascript">dtime_nums(0, true)</script>
        — Викторија Јаневска
      </h3>
      <div id="scroll"></div>
      <div class="flags--wrapper">
        <div class="flags--container">
          <div class="flags--item"><span class="click-here">КЛИКНЕТЕ</span>
            <img class="prewin blue" src="{% static 'assets/bonefix/images/DaXw1NS705mI.png' %}">
            <div class="win">
              <p class="sale"><span class="sale-blue"></span></p>
            </div>
          </div>
          <div class="flags--item"><span class="click-here">КЛИКНЕТЕ</span>
            <img class="prewin red" src="{% static 'assets/bonefix/images/DaXw1NS705mI.png' %}">
            <div class="win">
              <p class="sale"><span class="sale-red"></span></p>
            </div>
          </div>
          <div class="flags--item"><span class="click-here">КЛИКНЕТЕ</span>
            <img class="prewin yellow" src="{% static 'assets/bonefix/images/DaXw1NS705mI.png' %}">
            <div class="win">
              <p class="sale"><span class="sale-yellow"></span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="order_block" style="display: none">
        <div class="form-wrap">
          <h2 class="form-text form-text--top">
            ПОНУДА ЗА ОГРАНИЧЕНО ВРЕМЕ
          </h2>
          <h3 class="form-text form-text--middle">
            (ПОРAЧАЈТЕ СЕГА, ПРЕД ДА СЕ РАСПРОДА)
          </h3>
          <p class="form-text">
            <b class="red">ЗАЛИХАТА Е ПРИ КРАЈ!</b>
            <br>
            Ограничена понуда со попуст ВАЖИ
            <br>
            до:
            <b>
              <script>dtime_nums(0, true)</script>
            </b>
          </p>
          <img src="{% static 'assets/bonefix/images/nLR6ci4FKoqD.png' %}" alt="" class="form-img">
          <div class="form-checktext">
            <img src="{% static 'assets/bonefix/images/hgzJEsZATIyT.svg' %}" alt="">
            <span class="form-checktext__text">BoneFix Pack</span>
          </div>
          <div class="form-prices">
            <span class=" form-prices__old">{{ product_page.product.sale_price|multiply:2 }}MKD</span>
            <span class=" form-prices__new">{{ product_page.product.sale_price }}MKD</span>
          </div>
          <form action="{% url 'core:product-page' slug=product_page.slug %}" class="form_order" method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product_page.product.id }}">
            <div class="target_list_wrap">
              <select name="country_code" class="js-select input-form">
                <option value="MK" data-price="2,400 МКД" data-old_price="4,800 МКД" data-discount="50%"
                        data-country_code="MK">Македонија
                </option>
              </select>
            </div>
            <input class="input-form" name="name" placeholder="Име" type="text">
            <input class="input-form" name="phone" placeholder="Телефон" type="text">
            <button class="submit-form js_submit" type="submit"
                    onclick='_mgq.push(["MgSensorInvoke", "initiate-order-click"])'>
              ПОРAЧАЈТЕ СЕГА
            </button>
          </form>
          <img src="{% static 'assets/bonefix/images/ZGTADyXjH8uh.png' %}" alt="" class="form-protection">
          <p class="form-bottom-text">НАРАЧАЈТЕ СЕГА И ДОБИЈТЕ БРЗА ИСПОРАКА!</p>
        </div>
      </div>
      <div class="comments comments-wrap">
        <div class="comments__title">Коментари</div>
        <div class="comment-create comment-add-block">
          <div class="comment-create__body">
            <input class="comment-create__name-field" type="text" name="user-name" placeholder="Вашето име">
            <div class="comment-create__textarea-wrap">
              <textarea class="comment-create__text-field" placeholder="Напишете коментар" name="user-comment"
                        maxlength="680"></textarea>
              <button type="button" class="comment-create__create-btn" id="add-comment-btn">
                <img src="{% static 'assets/bonefix/images/opTRGIzJMFzF.svg' %}" alt="">
              </button>
            </div>
            <p class="comment-create__subtitle">Притиснете ENTER за објава</p>
          </div>
        </div>
      </div>
      <a href="#scroll" target="_blank" class="button button-main alert-trigger">Порачајте BoneFix Капсули</a>
    </div>
    <div class="container container--large">
      <footer>
        <p>
          <a href="copyright.pdf" target="_blank">
            Copyright ©
            <script type="text/javascript">document.write(new Date().getFullYear())</script>
          </a>
          од Copyrightindex.com
        </p>
        <p>
          Сите права се задржани. Ниеден дел од оваа публикација не смее да биде репродуциран, дистрибуиран или
          пренесуван во каква било форма или со какви било средства – вклучувајќи фотокопирање, аудиоснимање или други
          електронски или механички методи – без претходно писмено одобрение од издавачот, освен кратки цитати вклучени
          во критички осврти и одредени некомерцијални употреби дозволени со законот за авторско право.
        </p>
        <div style="padding: 20px; font-size: 12px; text-align: center;" class="footer-privacy">
          <a class="host-replace" href="terms.html" target="_blank">Општи услови</a>
          |
          <a href="privacypolicy.html" target="_blank">Политика за приватност</a>
          |
          <a class="host-replace" href="returns.html" target="_blank">Политика за враќање, рефундирање и замена</a>
        </div>
      </footer>
    </div>
  </div>
</div>
<div class="modal-wrap">
  <div class="modal">
    <img src="" alt="" class="modal__cropped-image">
    <button class="modal__close">
      <img src="{% static 'assets/bonefix/images/pLE2dAuF5gUl.svg' %}" alt="">
    </button>
  </div>
</div>
<section class="custom-social-proof" style="display: none;">
  <div class="custom-notification">
    <a href="#scroll" class="custom-notification-container">
      <div class="custom-notification-image-wrapper">
        <img src="{% static 'assets/bonefix/images/nLR6ci4FKoqD.png' %}">
      </div>
      <div class="custom-notification-content-wrapper">
        <p class="custom-notification-content">
          <span id="notify-customer">Иван П</span> — <br>
          <span id="notify-verb">Купил</span>
          <strong><span id="notify-quantity">3</span></strong> туби BoneFix Капсули
          <small>
            <span id="notify-ago">пред 5 минути</span>
          </small>
        </p>
      </div>
    </a>
    <div class="custom-close"></div>
  </div>
</section>
<script src="{% static 'assets/bonefix/js/SkzU5s9GDmur.js' %}"></script>
<script src="{% static 'assets/bonefix/js/VnuKNepkV2cs.js' %}"></script>
<script src="{% static 'assets/bonefix/js/FPGYoYky2aQx.js' %}"></script>
<script src="{% static 'assets/bonefix/js/51bJmXtlqaQQ.js' %}"></script>
<script src="{% static 'assets/bonefix/js/VxfSRSBTpfFe.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/bonefix/js/6hnhOKd7h0Is.js' %}" type="text/javascript"></script>
<script>
  function _typeof(e) {
    return _typeof = 'function' == typeof Symbol && 'symbol' == typeof Symbol.iterator ? function(e) {
      return typeof e
    } : function(e) {
      return e && 'function' == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? 'symbol' : typeof e
    }, _typeof(e)
  }

  function ownKeys(e, t) {
    var r = Object.keys(e)
    if (Object.getOwnPropertySymbols) {
      var o = Object.getOwnPropertySymbols(e)
      t && (o = o.filter((function(t) {
        return Object.getOwnPropertyDescriptor(e, t).enumerable
      }))), r.push.apply(r, o)
    }
    return r
  }

  function _objectSpread(e) {
    for (var t = 1; t < arguments.length; t++) {
      var r = null != arguments[t] ? arguments[t] : {}
      t % 2 ? ownKeys(Object(r), !0).forEach((function(t) {
        _defineProperty(e, t, r[t])
      })) : Object.getOwnPropertyDescriptors ? Object.defineProperties(e, Object.getOwnPropertyDescriptors(r)) : ownKeys(Object(r)).forEach((function(t) {
        Object.defineProperty(e, t, Object.getOwnPropertyDescriptor(r, t))
      }))
    }
    return e
  }

  function _defineProperty(e, t, r) {
    return (t = _toPropertyKey(t)) in e ? Object.defineProperty(e, t, {
      value: r,
      enumerable: !0,
      configurable: !0,
      writable: !0
    }) : e[t] = r, e
  }

  function _toPropertyKey(e) {
    var t = _toPrimitive(e, 'string')
    return 'symbol' === _typeof(t) ? t : String(t)
  }

  function _toPrimitive(e, t) {
    if ('object' !== _typeof(e) || null === e) return e
    var r = e[Symbol.toPrimitive]
    if (void 0 !== r) {
      var o = r.call(e, t || 'default')
      if ('object' !== _typeof(o)) return o
      throw new TypeError('@@toPrimitive must return a primitive value.')
    }
    return ('string' === t ? String : Number)(e)
  }

  var INCORRECT_PHONE_NUMBER_MSG = 'Please enter a valid phone number', additional_GET_params = ['clickid'],
    CREATE_TEMP_LEADS = true, COOKIE_TEMP_LEAD_SID_NAME = 'tempLeadSessionId', LeadCreator = {
      _exists_additional_params: {
        data: {}, put: function(e, t) {
          this.data[e] = t
        }, get: function(e) {
          return this.data[e]
        }, serialize: function() {
          var e = []
          for (var t in this.data) this.data.hasOwnProperty(t) && e.push(encodeURIComponent(t) + '=' + encodeURIComponent(this.data[t]))
          return e.join('&')
        }
      }, initCountriesSelect: function() {
        $('.js-select').on('change', (function() {
          var e = $(this).find('option:selected')
          LeadCreator.changePrices(e.data('price'), e.data('old_price'), e.data('discount'))
        }))
      }, changePrices: function(e, t, r) {
        $('.x_currency').text(e), $('.x_currency_old').text(t), $('.x_discount').text(r)
      }, processLinksHref: function() {
        var e = document.querySelectorAll('a'), t = this._exists_additional_params.serialize()
        if (e.length < 1 || !t) return !1
        for (var r = 0; r < e.length; r++) {
          var o = e[r].getAttribute('href')
          null !== o && e[r].setAttribute('href', o + (-1 === o.indexOf('?') ? '?' : '&') + t)
        }
      }, processFormAttrs: function() {
        var e = document.querySelectorAll('form.form_order')
        if (e.length < 1) return !1
        for (var t = 0; t < e.length; t++) {
          var r = this._exists_additional_params.serialize()
          e[t].setAttribute('action', '' + (r.length > 0 ? '?' + r : '')), e[t].setAttribute('onsubmit', 'return validateForm(this, event);'), LeadCreator.initKeitaroFormFields(e[t])
        }
      }, initKeitaroFormFields: function(e) {
        var t = 'keitaro-hidden-input', r = $('.' + t)
        if (r.length < 1) return !1
        for (i = 0; i < r.length; i++) {
          var o = $(r[i]).clone()
          o.removeClass(t), $(e).append(o)
        }
      }, setAddittionalParams: function() {
        for (var e = 0; e < additional_GET_params.length; e++) null !== getUrlParam(additional_GET_params[e]) && this._exists_additional_params.put(additional_GET_params[e], getUrlParam(additional_GET_params[e]))
      }, setPhoneFieldsAttrs: function() {
        var e = document.querySelectorAll('input[name=\'phone\']')
        if (e.length < 1) return !1
        for (var t = 0; t < e.length; t++) e[t].setAttribute('required', 'true'), e[t].setAttribute('pattern', '[+0-9]{6,}'), CREATE_TEMP_LEADS && e[t].setAttribute('oninput', 'createTempLead(this)')
      }, setNameFieldsAttrs: function() {
        var e = document.querySelectorAll('input[name=\'client\']')
        if (e.length < 1) return !1
        for (var t = 0; t < e.length; t++) e[t].removeAttribute('required')
      }, getDefaultCountyOption: function() {
        return $('.js-select').first().find('option:selected')
      }, disableSubmitBtns: function() {
        $('.submit_btn, [type=submit]').attr('disabled', 'disabled').css('opacity', .5).css('pointer-events', 'none')
      }, initTempLeadSession: function() {
        var e = !(arguments.length > 0 && void 0 !== arguments[0]) || arguments[0]
        if (!0 === CREATE_TEMP_LEADS) {
          if (void 0 !== getCookie(COOKIE_TEMP_LEAD_SID_NAME)) return
          $.ajax({ type: 'GET', url: 'tls-Xv9g1n18WG7L6nt38b.php', async: e }).done((function(e) {
            e.s_id && setCookie(COOKIE_TEMP_LEAD_SID_NAME, e.s_id, { 'max-age': 10800 })
          }))
        }
      }
    }

  function validateForm(e, t) {
    t.preventDefault()
    e.querySelectorAll('select[name=\'target_geo_hash\'] option:checked')[0]
    var r = e.querySelectorAll('input[name=\'phone\']')[0]
    if (r.value.length < 5 || 'string' != typeof r.value) return alert(INCORRECT_PHONE_NUMBER_MSG), !1
    LeadCreator.disableSubmitBtns(), deleteCookie(COOKIE_TEMP_LEAD_SID_NAME), e.submit()
  }

  function getUrlParam(e) {
    var t = {}, r = decodeURI(window.location.href), o = r.indexOf('?'), n = r.indexOf('#')
    o < 0 && n > 0 && (r = r.replace('#', '?'), o = n), o > 0 && n > 0 && (r = r.replace('#', '&'))
    for (var i = r.slice(o + 1).split('&'), a = 0; a < i.length; a++) {
      var s = i[a].split('=')
      t[s[0]] = s[1]
    }
    return t[e] || null
  }

  function createTempLead(e) {
    if (!(e.value.length < 7)) {
      var t = Object.fromEntries(new FormData(e.closest('form')))
      if (getCookie(COOKIE_TEMP_LEAD_SID_NAME) || LeadCreator.initTempLeadSession(!1), getCookie(COOKIE_TEMP_LEAD_SID_NAME)) {
        var r = _objectSpread(_objectSpread({}, t), {}, { s_id: getCookie(COOKIE_TEMP_LEAD_SID_NAME) })
        $.ajax({ type: 'POST', url: 'tl-mZgFyn18WG7L68b64V.php', data: r })
      }
    }
  }

  function getCookie(e) {
    var t = document.cookie.match(new RegExp('(?:^|; )' + e.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + '=([^;]*)'))
    return t ? decodeURIComponent(t[1]) : void 0
  }

  function setCookie(e, t) {
    var r = arguments.length > 2 && void 0 !== arguments[2] ? arguments[2] : {};
    (r = _objectSpread({ path: '/' }, r)).expires instanceof Date && (r.expires = r.expires.toUTCString())
    var o = encodeURIComponent(e) + '=' + encodeURIComponent(t)
    for (var n in r) {
      o += '; ' + n
      var i = r[n]
      !0 !== i && (o += '=' + i)
    }
    document.cookie = o
  }

  function deleteCookie(e) {
    setCookie(e, '', { 'max-age': -1 })
  }

  var BACK_BUTTON_REDIRECT_ENABLED = false, BACK_BUTTON_REDIRECT_URL = ''
  $(document).ready((function() {
    App.init()
  }))
  var App = {
    init: function() {
      LeadCreator.initCountriesSelect()
      var e = LeadCreator.getDefaultCountyOption()
      LeadCreator.changePrices(e.data('price'), e.data('old_price'), e.data('discount')), LeadCreator.initTempLeadSession(), LeadCreator.setAddittionalParams(), LeadCreator.processLinksHref(), LeadCreator.processFormAttrs(), LeadCreator.setPhoneFieldsAttrs(), LeadCreator.setNameFieldsAttrs(), BACK_BUTTON_REDIRECT_ENABLED && (window.onpopstate = function() {
        return setTimeout(window.location.replace(BACK_BUTTON_REDIRECT_URL), 0)
      }, history.pushState({}, '', window.location.href + '&customReturnHref'), history.pushState({}, '', window.location.href.replace('&customReturnHref', '')))
    }
  }

</script>
<input class="keitaro-hidden-input" type="hidden" name="clickid" value="d2e9vben6s0s738mui4g">
<input class="product-hidden-input" type="hidden" offername="MK_Nautubone">
<script src="{% static 'assets/bonefix/js/FmYTMWLCmIzQ.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    window.vitBack('https://besthealthprod.info/click.php?lp=1', true)
  })
</script>
<script>
  // Навешиваем одинаковый обработчик на все ссылки с классом host-replace
  document.querySelectorAll('.host-replace').forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault()

      const url = this.href
      const newWin = window.open(url)

      newWin.addEventListener('load', () => {
        const host = window.location.host

        // Рекурсивная функция для замены {HTTP_HOST} в тексте и атрибутах
        function replaceHost(node) {
          if (node.nodeType === Node.TEXT_NODE) {
            node.nodeValue = node.nodeValue.replace(/\{HTTP_HOST\}/g, host)
          } else {
            if (node.attributes) {
              Array.from(node.attributes).forEach(attr => {
                if (attr.value.includes('{HTTP_HOST}')) {
                  node.setAttribute(
                    attr.name,
                    attr.value.replace(/\{HTTP_HOST\}/g, host)
                  )
                }
              })
            }
            node.childNodes.forEach(replaceHost)
          }
        }

        // Запускаем на корневом элементе документа
        replaceHost(newWin.document.documentElement)
      }, { once: true })
    })
  })
</script>


</body>
</html>