.custom-social-proof {
    bottom: 20px;
    display: none;
    font-family: Inter, sans-serif;
    left: 20px;
    position: fixed;
    z-index: 9999999999999 !important;
}

.custom-notification {
    background-color: #fff;
    border: 0;
    border-radius: 6px;
    -webkit-box-shadow: 2px 2px 10px 2px #0b0a0a33;
    box-shadow: 2px 2px 10px 2px #0b0a0a33;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    text-align: left;
    width: auto;
    z-index: 99999;
    padding: 5px;
    display: block;
}

.custom-notification, #notify-customer, #notify-state {
    white-space: nowrap;
}

.custom-notification-container {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*height: 80px;*/
    width: 100%;
    text-decoration: none;
}

.custom-notification-image-wrapper {
    width: 80px;
}

.custom-notification-image-wrapper img {
    border-radius: 6px 0 0 6px;
    display: block;
    margin: 0 auto 5px;
    max-height: 75px;
    overflow: hidden;
    width: auto;
}

.custom-notification-content-wrapper {
    border-radius: 0 6px 6px 0;
    color: gray;
    height: 100%;
    margin: 0;
    padding-left: 5px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.custom-notification-content {
    font-family: inherit !important;
    font-size: 14px;
    line-height: 16px;
    padding: 0 !important;
    margin-bottom: 0;
}

.custom-notification-content small {
    display: block !important;
    font-size: 12px !important;
    margin-top: 3px !important;
    opacity: .8;
}

.custom-close {
    cursor: pointer;
    height: 12px;
    opacity: 0;
    position: absolute;
    right: 8px;
    top: 8px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    width: 12px;
    z-index: 5555555;
}

.custom-close:before {
    height: 2px;
    left: 0;
    top: 5px;
    width: 100%;
}

.custom-close:after, .custom-close:before {
    background-color: gray;
    content: "";
    display: block;
    position: absolute;
}

.custom-close:after {
    height: 100%;
    left: 5px;
    top: 0;
    width: 2px;
}

.custom-social-proof .custom-notification .custom-close:before {
    background-color: gray;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 100%;
}

.custom-social-proof .custom-notification .custom-close:after {
    background-color: gray;
    content: "";
    display: block;
    height: 100%;
    left: 5px;
    position: absolute;
    top: 0;
    width: 2px;
}

.custom-social-proof .custom-notification:hover .custom-close {
    opacity: 1;
}

.guarantee {
    font-size: 0;
    margin-bottom: 12px;
    margin-top: 12px;
}

.guarantee-content {
    text-align: left;
}

.guarantee-icon {
    display: inline-block;
    height: 80px;
    vertical-align: top;
    width: 80px;
}

.guarantee-text {
    color: #1c1c28;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    padding-left: 8px;
    position: relative;
    vertical-align: middle;
    width: calc(100% - 80px);
}

.secure__block {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 7px 1px;
}

@media (max-width: 768px) {
    .custom-notification, #notify-customer, #notify-state {
        white-space: normal;
    }
}
